<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tp.LegacyProfileConversion.Common.Testing.Properties.Settings.TargetProcessTestConnectionString"
            connectionString="Data Source=(local);Initial Catalog=TargetProcess;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>