<!-- name: board.toolbar, deps: [template!tau/ui/templates/board.editor/ui.template.board.editor.filter] -->
<% var isBoard = this.viewMode === "board", isTimeline = this.viewMode === "timeline"; %>
<% var isList = this.viewMode === "list", isNewList = this.viewMode === "newlist"; %>
<% var uid = fn.uid("boardHeader"); %>
<div class="tau-board-header <% if (isTimeline) { %>tau-board-header--timeline<% } %>" id="<%=uid%>">
    <div role="name_output" class="i-role-name_output tau-board-name"><%! this.name %></div>
    <div role="name" class="<% if (!this.isEditable) { %>disabled<% } %> i-role-name tau-board-name-editor tau-extension-board-tooltip" data-title="Rename"><%! this.name %></div>
    <%= fn.sub("board.editor.filter", this.cells) %>
    <% if (isTimeline) { %>
        <div class="i-role-timeline-period-selector tau-inline-group" />
    <% } %>
    <% if (!isNewList) { %>
        <span role="zoomer"
            class="tau-zoomer ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
            data-zoom-value="<%= this.zoom.value %>"
            data-zoom-min="<%= this.zoom.min || 1 %>"
            data-zoom-max="<%= this.zoom.max || 6 %>"
            >
        <a href="#" class="ui-slider-handle ui-state-default ui-corner-all tau-extension-board-tooltip"
            data-title="Zoom&nbsp;in/out&nbsp;on&nbsp;cards" style="left: 100%;"></a>
        </span>
    <% } %>
    <% if (isBoard || isTimeline) { %>
        <button type="button"
            class="hidden tau-btn tau-extension-board-tooltip tau-btn--collapsed-empty-lanes i-role-hide-empty-lanes"
            data-collapsed-selector=".tau-checked" data-title-collapsed="Click to see hidden empty lanes"
            data-expanded-selector=":not(.tau-checked)" data-title-expanded="Click to hide empty lanes">
        </button>
    <% } %>
    <% if (isBoard || isTimeline) { %>
        <span class="tau-inline-group tau-focuser">
        <button type="button" role="action-focus" class="tau-extension-board-tooltip tau-btn tau-focus-in"
            data-title="Show&nbsp;only&nbsp;highlighted&nbsp;lanes" disabled="">focus
        </button>
        <button type="button" role="action-unfocus"
            class="tau-extension-board-tooltip tau-btn tau-close tau-focus-out"
            data-title="See&nbsp;all&nbsp;lanes" disabled=""></button>
        </span>
    <% } %>
    <span class="tau-inline-group tau-board-view-switch">
        <button type="button" role="action-toggle-viewMode" value="board"
            class="tau-btn tau-extension-board-tooltip tau-btn-board-view <% if (isBoard) {%>tau-checked <% } %>"
            data-title="Board"></button>
        <button type="button" role="action-toggle-viewMode" value="list"
            class="tau-btn tau-extension-board-tooltip tau-btn-view-view <% if (isList) {%>tau-checked <% } %>"
            data-title="One by one"></button>
        <button type="button" role="action-toggle-viewMode" value="newlist"
            class="tau-btn tau-extension-board-tooltip tau-btn-list-view <% if (isNewList) {%>tau-checked <% } %>"
            data-title="List"></button>
        <button type="button" role="action-toggle-viewMode" value="timeline"
            class="tau-btn tau-extension-board-tooltip tau-btn-timeline-view <% if (isTimeline) {%>tau-checked <% } %>"
            data-title="Timeline"></button>
    </span>
    <button role="actions-button" class="tau-btn tau-actions-btn" data-collapsed-selector=".tau-checked" type="button">
        Actions
    </button>
</div>
