_ReSharper.*/
.idea/
[Bb]in/
[Db]ebug/
[Rr]eleases/
[Ll]ogs/
[Uu]pload/
*.VisualState.xml
~*/
obj/
*.orig
*.rej
*.user
*.cache
*.suo
*.[Rr]e[sS]harper
*.gpState
*.iml
*.ipr
*.iws
*.generated.cs

.project
*.BASE.*
*.LOCAL.*
*.REMOTE.*

*.docstates
*.dotCover

TinyPG.config

