<!-- name: time.efforts.editor -->
<div class="tau-effort">
    <div class="i-role-group tau-effort__group">
        <span class="tau-time__grouptitle i-role-edittrigger">Spent</span>
        <form><input type="text" autocomplete="off" class="i-role-spent" value="<%= this.spent %>"></form>
    </div>
    <div class="i-role-group tau-effort__group">
        <span class="tau-time__grouptitle i-role-edittrigger">Rem.</span>
        <form><input type="text" autocomplete="off" class="i-role-remain" value="<%= this.remain %>"></form>
    </div>
</div>