<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="1.2.0" targetFramework="net40" />
  <package id="Common.Logging.Log4Net" version="1.2.0" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="structuremap" version="2.6.2" targetFramework="net45" />
  <package id="Tp.Core.Functional" version="0.1.7" targetFramework="net461" />
</packages>