<!-- name: dashboard.toolbar.actions.menu -->
<div class="actions-menu-items actions-menu-items--dashboards i-role-bubble-holder">
    <div class="tau-board-actions-item">
        <span class="options-button"></span>
        <button role="action-toggle-editor" class="tau-btn tau-btn-settings tau-board-settings-toggle" type="button">
            Set up Dashboard
        </button>
        <div class="tau-txt">Go to Dashboard settings</div>
    </div>
    <% if (this.model.isEditable) { %>
    <div class="tau-board-actions-item">
        <span class="remove-dashboard-button">
        </span>
        <div class="tau-txt">Dashboard will be removed.<br/>The data will remain safe.</div>
    </div>
    <% } %>
</div>

