<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Tp.Tfs.Tests.Properties.Settings.TpConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcessTest;user id=sa;password=sa" />
    <add name="Tp.Tfs.Tests.Properties.Settings.PluginConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcessTest;user id=sa;password=sa" />
  </connectionStrings>
  <appSettings>
    <add key="TestCollection" value="http://localhost:8080/tfs/testcollection" />
    <add key="Login" value="operator" />
    <add key="Password" value="trustMIND" />
    <add key="Domen" value="" />
    <add key="TestCollectionProject" value="TeamProject1" />
    <add key="RevisionFrom" value="1" />
    <add key="RevisionTill" value="200" />
    <add key="PageSize" value="100" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NBehave.Narrator.Framework" publicKeyToken="d421feca0f4a05f6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.1.263" newVersion="0.5.1.263" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>