<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TestCollectionWithMergeCommit" value="http://localhost:8080/tfs/TestRepositoryWithMergeCommit" />
    <add key="TestCollectionWithFileDeleted" value="http://localhost:8080/tfs/TestCollectionWithFileDeleted" />
    <add key="FuncTestCollection" value="http://localhost:8080/tfs/functestscollection" />
    <add key="TestCollection" value="http://localhost:8080/tfs/testcollection" />
    <add key="Login" value="operator"/>
    <add key="Password" value="trustMIND"/>
    <add key="Domen" value=""/>
    <add key="TestCollectionProject" value="TeamProject1"/>
    <add key="FuncTestsProject" value="FuncTestsProject"/>
    <add key="TestProjectWithFileDeleted" value="TestRepositoryWithFileDeleted"/>
    <add key="TestProjectWithMergeCommit" value="TestRepositoryWithMergeCommit"/>
  </appSettings>
</configuration>