<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tp.Subversion.Properties.Settings.TpConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcessTest;user id=sa;password=sa"/>
        <add name="Tp.Subversion.Properties.Settings.PluginConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcessTest;user id=sa;password=sa"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
