<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="1.2.0" />
  <package id="Common.Logging.Log4Net" version="1.2.0" />
  <package id="log4net" version="1.2.10" />
  <package id="Rx-Main" version="1.0.10621" />
  <package id="structuremap" version="2.6.2" />
  <package id="TargetProcessPluginSDK" version="2.23.3.21882" />
</packages>