<!-- name: shareLink -->
<div class="tau-sharelink">
    <div class="i-role-content tau-sharelink__wrap">
        <div class="tau-sharelink__link-fake"><%= this.url %></div>
        <textarea class="tau-sharelink__link"><%= this.url %></textarea>
        <button class="tau-btn tau-btn-big tau-passed i-role-message tau-hide" type="button" disabled >Copied to clipboard!</button>
    </div>
    <div class="i-role-trigger">
        <i class="tau-icon-general tau-icon-share"></i>
        Share link
    </div>
</div>