<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="Tp.LegacyProfileConvertsion.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    
    </configSections>
    
    <connectionStrings>
        <add name="Tp.LegacyProfileConvertsion.Common.Properties.Settings.TpConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcessTest;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="Tp.LegacyProfileConvertsion.Common.Properties.Settings.PluginConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcess;user id=sa;password=sa"/>
        <add name="Tp.LegacyProfileConvertsion.Common.Properties.Settings.TargetProcessTestConnectionString" connectionString="Data Source=(local);Initial Catalog=TargetProcessTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
