<Tp.Integration.Plugin.Common.Properties.Settings>
	<setting name="TargetProcessPath" serializeAs="String">
		<value>http://localhost/TargetProcess2</value>
	</setting>
	<setting name="AdminLogin" serializeAs="String">
		<value>admin</value>
	</setting>
	<setting name="AdminPassword" serializeAs="String">
		<value>admin</value>
	</setting>
	<setting name="TargetProcessInputQueue" serializeAs="String">
		<value>Tp.InputCommand</value>
	</setting>
	<setting name="pluginDatabaseConnectionString" serializeAs="String">
		<value>Data Source=(local);Initial Catalog=TargetProcess;user id=sa;password=sa;Transaction Binding=Implicit Unbind</value>
	</setting>
	<setting name="PluginInputQueue" serializeAs="String">
		<value>Tp.Mercurial</value>
	</setting>
	<setting name="PluginDataFolder" serializeAs="String">
		<value>MercurialRepositories</value>
	</setting>
</Tp.Integration.Plugin.Common.Properties.Settings>
