<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tp.PopEmailIntegration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tp.PopEmailIntegration.Settings>
            <setting name="PluginConnectionString" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=TargetProcessTest;user id=sa;password=sa</value>
            </setting>
            <setting name="TpConnectionString" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=TargetProcessTest;user id=sa;password=sa</value>
            </setting>
        </Tp.PopEmailIntegration.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
