<Tp.Integration.Plugin.Common.Properties.Settings>
	<setting name="TargetProcessPath" serializeAs="String">
		<value>http://localhost/TargetProcess</value>
	</setting>
	<setting name="AdminLogin" serializeAs="String">
		<value>admin</value>
	</setting>
	<setting name="AdminPassword" serializeAs="String">
		<value>admin</value>
	</setting>
	<setting name="TargetProcessInputQueue" serializeAs="String">
		<value>Tp.InputCommand</value>
	</setting>
	<setting name="pluginDatabaseConnectionString" serializeAs="String">
		<value>Data Source=(local);Initial Catalog=TargetProcess;user id=sa;password=sa;Transaction Binding=Implicit Unbind</value>
	</setting>
	<setting name="PluginInputQueue" serializeAs="String">
		<value>Tp.MashupManager</value>
	</setting>
	<setting name="PluginDataFolder" serializeAs="String">
		<value>MashupManagerStorage</value>
	</setting>
	<setting name="LibraryConfig" serializeAs="Xml">
		<value>
			<ArrayOfLibraryRepositoryConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
				<LibraryRepositoryConfig>
					<Name>TP3</Name>
					<Uri>https://github.com/TargetProcess/TP3MashupLibrary.git</Uri>
				</LibraryRepositoryConfig>
			</ArrayOfLibraryRepositoryConfig>
		</value>
	</setting>
</Tp.Integration.Plugin.Common.Properties.Settings>