<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Tp.Integration.Plugin.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<Logging Threshold="All" />
	<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<appender name="PluginErrorLoggerAppender" type="Tp.Integration.Plugin.Common.Activity.PluginRollingFileAppender">
			<folder value="Logs" />
			<file value="Error.txt"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="30KB" />
			<staticLogFileName value="true" />
			<layout type="Tp.Integration.Plugin.Common.Logging.CsvLayout" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<encoding value="utf-8" />
		</appender>
		<appender name="PluginActivityLoggerAppender" type="Tp.Integration.Plugin.Common.Activity.PluginRollingFileAppender">
			<folder value="Logs" />
			<file value="Activity.txt"/>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="50KB" />
			<staticLogFileName value="true" />
			<layout type="Tp.Integration.Plugin.Common.Logging.CsvLayout" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<encoding value="utf-8" />
		</appender>

		<appender name="PluginFileLog" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/Plugin.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="3" />
			<maximumFileSize value="10000KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

		<appender name="console" type="log4net.Appender.ColoredConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%date{HH:mm:ss}] %-5level %logger %newline%message%newline%newline%newline"/>
			</layout>
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<mapping>
				<level value="Warn" />
				<foreColor value="Yellow" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
		</appender>

		<logger name="PluginErrorLogger">
			<level value="ERROR"/>
			<appender-ref ref="PluginErrorLoggerAppender"/>
		</logger>
		<logger name="PluginActivityLogger">
			<level value="INFO"/>
			<appender-ref ref="PluginActivityLoggerAppender"/>
		</logger>

		<root>
			<level value="INFO" />
			<appender-ref ref="PluginFileLog" />
			<appender-ref ref="console" />
		</root>
	</log4net>
	<applicationSettings>
		<Tp.Integration.Plugin.Common.Properties.Settings configSource="PluginSettings.config">
		</Tp.Integration.Plugin.Common.Properties.Settings>
	</applicationSettings>
</configuration>